* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: antiquewhite;
    position: relative;
}

.game-name {
    position: absolute;
    top: 5%;
}

.container {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-game,
.restart-game {
    text-align: center;
    width: 150px;
    padding: 20px;
    cursor: pointer;
    border: 2px solid;
    border-radius: 30px;
    background-color: antiquewhite;
    position: absolute;
}


.restart-game {
    display: none;
    bottom: 5%;
}

.game-container {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    border: 10px solid;
    position: relative;
    display: none;
}

.cross::after,
.cross::before {
    content: '';
    position: absolute;
    background-color: black;
    height: 8px;
    width: 90px;
}

.cross::after {
    rotate: 45deg;
}

.cross::before {
    rotate: -45deg;
}

.circle::after {
    content: '';
    position: absolute;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.circle::before {
    content: '';
    position: absolute;
    height: 70px;
    width: 70px;
    background-color: transparent;
    border: 9px solid black;
    border-radius: 50%;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    background-color: rgba(255, 217, 146, 0.603);
    position: relative;
}

.box:hover {
    cursor: pointer;
}

.circle:hover,
.cross:hover {
    cursor: not-allowed;
}

.final-message {
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    display: flex;
    align-items: center;
    opacity: 0.8;
    justify-content: center;
    display: none;
    color: white;
}